.hall
{
    margin: auto;
    text-align: center;
}

.hall > h2{
    padding: 20px;
}

.row
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

}
.single-seat
{
    margin: 3px;
    padding: 20px;
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(235, 235, 235); /* temporary */
}

.chosenSeat
{
    font-weight: 700;
    background-color:lime;
}