.header-navbar
{
    position: sticky;
    top:0;
    z-index: 999;
}

.navbar
{
    padding: 15px;
}

a
{
    text-decoration: none!important;
}

.add-movie-btn
{
    padding: 10px 15px;
    position: absolute;
    top: 20%;
    left: 90%;
    z-index: 999;
}